[submodule "node_modules/.cache/gh-pages/https!github.com!mrgiles1!robofriends.git"]
    path = node_modules/.cache/gh-pages/https!github.com!mrgiles1!robofriends.git
    url = https://github.com/mrgiles1/robofriends
